<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>To do list</title>
</head>
<body>
    
    <div style="margin-top: 50px;" class="ui container">
        
        <h1 class="ui center aligned header" >To do listttt</h1>

        <div class="ui segment">
            <div class="ui two column very relaxed grid">
              <div class="column">
                <form action="/add" method="POST" class="ui center aligned form" style="width: 500px;">

                    <div class="field" >
                        <label for="Title">Todo title</label>
                        <input type="text" name = "title" placeholder="Enter the title...">
                        <br>
                    </div>
        
                    <div class="field" >
                        <label for="Processing time">Processing time</label>
                        <input type="number" name = "process" placeholder="Enter the processing time...">
                        <br>
                    </div>
        
                    <div class="field" >
                        <label for="Deadline">Deadline</label>
                        <input type="date" name = "deadline" placeholder="Enter the deadline...">
                        <br>
                        <br>
                        <button class="ui blue button" type="submit">Add</button>
                    </div>
                </form>
              </div>
              <div class="column"> 
                <h3>Sort by : </h3>
              </div>
            </div>
            <div class="ui vertical divider">
              and
            </div>
          </div>
        

        {% for todo in todo_list %}
            <div class="ui segment">
                <p class = "ui big header">{{ todo.id }} | {{todo.Title}} </p>
                {% if todo.ProcessTime  == 1%}
                    <p class = "ui big header">Processing time | {{todo.ProcessTime}} day</p>
                {% else %}
                    <p class = "ui big header">Processing time | {{todo.ProcessTime}} days</p>
                {% endif %}

                <p class = "ui big header">Deadline {{todo.Deadline}}</p>
                <p class = "ui big header">Days until deadline  | {{todo.Deadline - now }}</p>
                
                <a class="ui blue button" href="/update/{{todo.id}}">Atualizar</a>
                <a class="ui red button" href="/delete/{{todo.id}}">Excluir</a>

                {% if todo.Completed == False %}
                    <span class="ui grey button">Tarefa não concluída!!</span>
                {% else %}
                    <span class="ui green button">Tarefa concluída !!</span>
                {% endif %}

            </div>  
        {% endfor%}

    </div>


</body>
</html>